/* .about_us.small_about {
  margin: 40px auto 40px auto;
  height: 250px;
  width: 250px;
  background-image: url('../assets/asterisk.png');
  background-size: cover;
}

/* Add transition effect when growing to large */
/* .about_us.large_about {
  padding-top: 1%;
  height: -webkit-fill-available;
}

.split_asterisk {
  height: 300px;
}

.about_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  background: #8AACCE;
} */ 

.about {
  height: 100%;
  width: 100%;
  background: honeydew;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  /* text-align: center; */
  height: 10%;
}

.bottom {
  height: 10%;
}

.content {
  height: 80%;
}

.top button img {
  transform:  rotate(180deg);
}

button img {
  width: 20%;
}

.enter {
  background: none;
  border: none;
}

