.about_us.small_about {
  margin: 30px auto 30px auto;
  height: 250px;
  width: 250px;
  background-image: url('../assets/asterisk.png');
  background-size: cover;
}

/* Add transition effect when growing to large */
.about_us.large_about {
  width: 100%;
  background: white;
  padding-top: 1%;
  height: -webkit-fill-available;
}

.split_asterisk {
  height: 300px;
}

.about_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}