.banner {
  background-color: #7ACED7;
  height: 800px;
  display: block;
  position: relative;
  width: 100%;
  top: 0px;
}

.title {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title_image {
  padding: 0px 15px 0px 15px;
  width: 200px;
}

.title_name {
  font-size: 75px;
}
