.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 25%;
}

.index.small {
  margin: 40px auto 40px auto;
  height: 250px;
  width: 250px;
  background-image: url('../assets/asterisk.png');
  background-size: cover;
}

.index.large {
  padding-top: 1%;
  height: -webkit-fill-available;
  width: 100%;
}

.split_asterisk {
  height: 300px;
}

