.profiles {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

.profile {
  width: 50%;
  background-repeat: no-repeat;
  background-position: left bottom;
  border-top: 3px solid;
}

.traci {
  background-image: url('../assets/traci.jpg');
  height: 100%;
  border-right: 1.5px solid;
}

.bryan {
  background-image: url('../assets/bryan2.jpg');
  height: 100%;
  border-left: 1.5px solid;
}

.profile_link {
  display: block;
  height: 100%;
}

.active_true {
  background: blue;
}

active_false {
  background: red;
}