.profile {
  width: 50%;
  overflow: hidden;
}

.profiles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  position: absolute;
}

.profile_image {
  border: 3px solid;
}

.profile_image:hover {
  opacity: 0.3;
}