.profiles {
  display: flex;
  flex-direction: row;
  height: 75%;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

.profile {
  width: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: left bottom;
  border: 3px solid;
}

.traci {
  background-image: url('../assets/traci.jpg');
  height: 100%;
}

.traci.profile.small_profile {
  opacity: 0.4;
}

.traci.profile.small_profile:hover {
  opacity: 1;
}

.bryan {
  background-image: url('../assets/bryan2.jpg');
  height: 100%;
}

.bryan.profile.small_profile {
  opacity: 0.4;
}

.bryan.profile.small_profile:hover {
  opacity: 1;
}

.profile_link {
  display: block;
  height: 100%;
}